<form class="form-inline" th:action="@{/}" method="POST" xmlns:th="http://www.w3.org/1999/xhtml">
    <fieldset>
        <div class="form-group">
            <div class="col-sm-1 ">
                <input type="number" class="form-control" id="postId" placeholder="Komentarze dla posta"
                       name="postId" th:value="${postId}"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 ">
                <input type="number" class="form-control" id="commentId" placeholder="Komentarz konkretny"
                       name="commentId" th:value="${commentId}"/>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Wybierz</button>
        </div>

        <table border="1">
        		<tr>
        			<th>Comment Id</th>
        			<th>Comment Body</th>
        		</tr>
        		<tr th:each="comment : ${commentsList}">
        			<td th:text="${comment.id}">Post Id</td>
                    <td th:text="${comment.body}">Body Id</td>
        		</tr>
        	</table> <br><br>

    </fieldset>
</form>
